div:nth-child(1) {
	
	float: left;
	background color: blue;
	border-width: 200px;
	border: 200px 200px 200px 200px;
	font-size: 32px;
	font color: blue;


}
div:nth-child(2) {
	
	float: right;
	background:solid;
	background color: blue;
	border-width: 200px;
	border: 200px 200px 200px 200px;
	font-size: 46px;
	font color: blue;


}